@font-face {
    font-family: nsw;
    src: url(fonts/NSW/EduNSWACTFoundation-VariableFont_wght.ttf);

    
}
@font-face {
    font-family: pfd;
    src: url(fonts/pfd/PlayfairDisplay-Italic-VariableFont_wght.ttf);   
}

@font-face {
    font-family: nswbold;
    src: url(fonts/NSW/static/EduNSWACTFoundation-Bold.ttf);
}

.nsw{
    font-family: nswbold;
   
}

.pfd{
    font-family: pfd;
}


.custombg-color{
    background-color: #2f333a;
}

ul li{
    font-family: nswbold;
}
ul li a:hover{
    color:#0275d8 !important;
    
}

.inline{
    display: inline-block;
}

.crds:hover{
    cursor: pointer;
    border: solid 2px #008fb3;
    background-color: rgba(0, 143, 179, 0.1);
    
}

.logo{
    color:black;
}

.foot{
    border: solid 1px #212529 !important;
    color: white;
}

.profile{
    border-radius: 50% ;
    height: 150px;
    width: 150px;
}

.pfcard{
    
    background-color: rgb(250, 201, 210);
    border-left: 0px;
    border-radius: 5px;
}
.abt{
   
    background-color: #c5e1ff;
    border-radius: 5px;
   
}

body{
    background-color: rgb(249, 249, 249);
}